body {
    background: darkblue;
    color: peachpuff;
    font-size: 125%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
}

p {
    background-color: coral;
    color: darkred;
    font-size: 1rem;
}