body {
    background: darkblue;
    color: peachpuff;
    font-size: 125%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font: red;
    background-color: wheat;
    border: 1px solid rebeccapurple;
}

p {
    background-color: coral;
    color: darkred;
    font-size: 1rem;
}